body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  color:slategray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family:  'Cantarell', 'Fira Sans', 'Droid Sans',
    monospace;
}
